<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<%= javascript_include_tag 'about' %>
</head>

<body>
  
  <div>
    <section>
      <div id="heading1" class="container"> <h1 style="font-family: Montserrat">About Us</h1>
      </div>
      
      <div id="heading2" class="container"><h2>Welcome to the about us page<br/></h2>
      </div>
      
      <div id="about_paragraph" class="container">
        <p>yada yada yada</p>
      </div>
    </section>
  </div>
    
  </body>
</html>