<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>

<body>
  
  <div>
    <section>
      <h1 style="font-family: Montserrat">About Us</h1>
      <p>yada yada yada</p>
    </section>
  </div>
    
  </body>
</html>