<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>

<body>
  
  <div>
    <section>
      <h1 style="font-family: Montserrat">Welcome to your website!</h1>
      <p>This is the home page</p>
    </section>
  </div>
    
</body>
</html>