<!DOCTYPE html>
<html>
<head>
	<title>GK Course</title>
</head>

<body>
  
  <div>
    <section>
      <h1 style="font-family: Montserrat">Home</h1>
      <p>This is the home page, sup. <br/> 
        Click the links up top.
      </p>
    </section>
  </div>
    
</body>
</html>