<!DOCTYPE html>
<html>
<head>
	<title>Example of Pricing</title>
	<%= javascript_include_tag 'pricing' %>
</head>

<body>

	<h3>Total</h3>

    <div id="display">
    </div>
    
    <div id="success">
    </div>

</body>


</html>